<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for Chubb.Tracker.TrackerReportingService" Description="Code analysis rules for Chubb.Tracker.TrackerReportingService.csproj." ToolsVersion="15.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS1591" Action="None" />
  </Rules>
</RuleSet>